body {
	padding-top: 60px;
	/* 60px to make the container go all the way to the bottom of the topbar */
}

hr {
	margin: 5px;
}

.tweet-box {
	margin-bottom: 10px;
}

.tweet-box:hover {
	border: 1px solid #3366FF;
}