@media (min-width: 1200px) {
	body {
		padding-top: 60px;
	}
}

hr {
	margin: 5px;
}

.tweet-box {
	margin-bottom: 10px;
}

.tweet-box:hover {
	border: 1px solid #3366FF;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #E4E4E4;
}

.navbar-inverse .navbar-text {
	color: #FFF;
}

.login-box {
	background-color: white;
}

.login-box hr {
	margin: 5px;
	margin-bottom: 20px;
}