<div th:if="${tweet.hidden == false or sessionBean.user.showHidden}" th:id="${tweet.id}" class="row-fluid tweet-row" th:classappend="${tweet.hidden}? 'tweet-row-hidden muted'">
	<div class="span12">
		<div class="thumbnail tweet-box">
			<div class="row-fluid">
			  <span class="dropdown span1 text-center">
              	<a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="icon-chevron-down"></i></a>
              	<ul class="dropdown-menu text-left">
                	<li><a class="tweet-toggle-hidden" href="#" th:text="${tweet.hidden}? 'Show' : 'Hide'">Hide</a></li>
              	</ul>
              </span>
			  <span class="span6"><a href="#" th:href="${'https://twitter.com/' + tweet.fromUser}"><strong th:text="${tweet.fromUser}">Tweet Author</strong></a></span>
	          <span class="span5 text-right pull-right" th:text="${#dates.format(tweet.createdAt, 'dd/MMM/yyyy HH:mm')}">Tweet Date</span>

	
			</div>
			<hr/>
			<div class="row-fluid">
				<p th:text="${tweet.text}">Tweet text</p>
			</div>
		</div>
	</div>
</div>