<script th:inline="javascript">
/*<![CDATA[*/
    var sendToggleHiddenJSON = function(id, hide){
	
		var data = {id: id, hidden: hide};		
		$.ajax({
			headers: {
		        'Accept': 'application/json',
		        'Content-Type': 'application/json' 				
			},
			'type': 'POST',
		    'url': [[@{/toggleHidden}]],
		    'data': JSON.stringify(data),
		    'dataType': 'json'
		})
		.done(function(){
			if (hide){
				var showHidden = [[${sessionBean.user.showHidden}]];
				if (showHidden){
					$("#" + data.id).addClass('muted').addClass('tweet-row-hidden');
					$("#" + data.id).find('.tweet-toggle-hidden').text('Show');					
				}
				else{
					$("#" + data.id).remove();	
				}
				
			}
			else {
				$("#" + data.id).removeClass('muted').removeClass('tweet-row-hidden');
				$("#" + data.id).find('.tweet-toggle-hidden').text('Hide');
			}
		})
		.fail(function(jqXHR, textStatus){
			alert("Request failed " + textStatus);
		});
	}       
           
	var toggleHidden = function(){
		var id = $(this).closest('.tweet-row').attr('id');
		var hide = !$('#' + id).hasClass('tweet-row-hidden');
		sendToggleHiddenJSON(id, hide);
	}
	
	var attachTweetHideActionToButton = function(){
		$('body').on('click', '.tweet-toggle-hidden', toggleHidden);
	}
	
	$(document).ready(function(){
		attachTweetHideActionToButton();
	});
/*]]>*/
</script>