<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta th:replace="partials/head-content"></meta>
<title>Twitter Connected</title>
</head>
<body>
	<div th:replace="partials/navigation-bar">Navigation bar</div>
	<h3>Connected to Twitter</h3>

	<p>
		You are now connected to your Twitter account. Click <a
			th:href="@{/twitter/followed}">here</a> to see your Twitter friends.
		Click <a th:href="@{/twitter/tweets}">here</a> to see their tweets.
	</p>
	<div th:replace="partials/js-scripts">Scripts</div>
</body>
</html>