<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta th:replace="partials/head-content"></meta>
<title>Index</title>
</head>
<body>
	<div th:replace="partials/navigation-bar" th:with="sessionBean=${sessionBean}">Navigation bar</div>
	<div th:if="${#objects.nullSafe(exception, false)}" th:include="partials/exceptions-bar" th:with="errorMessage=${exception}" th:remove="tag">Exceptions bar</div>
	
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span8 offset2">
			<h3>Welcome to Tweedle!</h3>
			<p>
				Tweedle is a simple showcase application written in Spring Stack and Thymeleaf for TAI classes. 
			</p>
			</div>
		</div>
		<div th:if="${sessionBean.twitterProfile == null}" class="row-fluid">
			<div class="span8 offset2">
				<h3>Connect to Twitter</h3>
				<form th:action="@{/connect/twitter}" method="POST">
					<div class="formInfo">
						<p>
							This page is displayed because you are not logged in your twitter account yet.
						</p>
						<p>
							Click the button to connect Tweedle with your Twitter account.
						</p>
					</div>
					<p>
						<button type="submit">Connect to Twitter</button>
					</p>
				</form>
			</div>
		</div>
	</div>
	<div th:replace="partials/js-scripts">Scripts</div>
</body>
</html>