<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta th:replace="partials/head-content"></meta>
<title>Index</title>
</head>
<body>
	<div th:replace="partials/navigation-bar">Navigation bar</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<h3>Connect to Twitter</h3>

			<form th:action="@{/connect/twitter}" method="POST">
				<div class="formInfo">
					<p>You aren't connected to Twitter yet. Click the button to
						connect Tweedle with your Twitter account.</p>
				</div>
				<p>
					<button type="submit">Connect to Twitter</button>
				</p>
			</form>
		</div>
	</div>
	<h1>It's The Index man. It doesn't do nothin'.</h1>
	<div th:replace="partials/js-scripts">Scripts</div>
</body>
</html>