<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta th:replace="partials/head-content"></meta>
<title>Tweets</title>
</head>
<body>
<div th:replace="partials/navigation-bar">Navigation bar</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="row-fluid span12">
				<h3>
					Hello, <span th:text="${twitterProfile.name}">Some User</span>!
				</h3>
				<h4>These are your tweets:</h4>
			</div>
			<div th:each="tweet:${tweets}" th:include="twitter/partials/tweet"
				th:with="tweet=${tweet}"
				th:remove="tag">Tweet</div>

		</div>
	</div>
	<div th:replace="partials/js-scripts">Scripts</div>
</body>
</html>