<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta th:replace="partials/head-content"></meta>
<title>Tweets</title>
</head>
<body>
	<div th:replace="partials/navigation-bar" th:with="sessionBean=${sessionBean}">Navigation bar</div>
	<div th:if="${#objects.nullSafe(exception, false)}" th:include="partials/exceptions-bar" th:with="errorMessage=${exception}" th:remove="tag">Exceptions bar</div>
	
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span8 offset2">
				<div th:each="tweet:${tweets}" th:include="twitter/partials/tweet"
					th:with="tweet=${tweet}"
					th:remove="tag">Tweet</div>
			</div>
		</div>
	</div>
	<div th:replace="partials/js-scripts">Scripts</div>
</body>
</html>