<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<button type="button" class="btn btn-navbar" data-toggle="collapse"
				data-target=".nav-collapse">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="brand" href="#">Tweedle</a>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li><a href="#" th:href="@{/index.html}">Home</a></li>
					<li><a href="#about" th:href="@{/connect/twitter}">Twitter Connection</a></li>
					<li><a href="#contact" th:href="@{/welcome.html}">Admin</a></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
</div>