<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<button type="button" class="btn btn-navbar" data-toggle="collapse"
				data-target=".nav-collapse">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="brand" href="#" th:href="@{/index.html}">Tweedle</a>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li><a href="#tweets" th:href="@{/twitter/tweets}">Tweets</a></li>
					<li><a href="#friends" th:href="@{/twitter/followed}">Friends</a></li>
					<li><a href="#options" >Options</a></li>
					<li><a href="#admin" th:href="@{/welcome.html}">Admin</a></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
</div>