<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<button type="button" class="btn btn-navbar" data-toggle="collapse"
				data-target=".nav-collapse">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="brand" href="#" th:href="@{/}">Tweedle</a>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li><a href="#friends" th:href="@{/}">Tweets</a></li>
					<li><a href="#friends" th:href="@{/followed}">Followed</a></li>
					<li><a href="#options">Options</a></li>
				</ul>
				<ul th:if="${sessionBean.securityPrincipal != null}" class="nav pull-right">
					<li>
						<p class="nav navbar-text" th:text="'Login: ' + ${sessionBean.securityPrincipal.username}">Login</p>
					</li>
					<li th:if="${sessionBean.twitterProfile != null}">
						<p class="nav navbar-text" th:text="'Twitter Profile: ' + ${sessionBean.twitterProfile.screenName}">Twitter profile</p>
					</li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown"><i class="icon-chevron-down icon-white"></i></a>
						<ul class="dropdown-menu">
							<li><a id="disconnect-from-twitter" href="#" th:if="${sessionBean.twitterProfile != null}">Disconnect from Twitter</a></li>
							<li><a href="j_spring_security_logout">Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>